# Everyone who opens a PR against this repo gets reviewed by the repository owner.
# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-security/customizing-your-repository/about-code-owners

* @ossolum-hv
